html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* c5c0b1 */
/* d2d4d5 */
/* 687c77 */
/* 684e37 */
body,
html {
  height: 100%;
  margin: auto;
  font: 500 17px/1.8 "Times New Roman", Times, serif;
}

/* .#595959 {
  color: black;
  background-color: #595959;
  text-align: center;
  padding: 2% 0%;
} */
.containernav {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  color: black;
  background-color: #3f13a4;
  margin: 6px 0;
  transition: 0.4s;
}

.bar1:hover,
.bar3:hover,
.bar2:hover {
  background-color: #6b35e8;
}

.sidebar {
  max-width: 800px;
  position: fixed;
  z-index: 2;
  right: 0;
  background-color: transparent;
  overflow-x: hidden;
  transition: 1s;
  display: flex;
  top: 25px;
}

.sidebar a {
  padding: 0px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #3f13a4;
  transition: 0.3s;
  margin-right: 20px;
  font-weight: bold;
}

.sidebar a:hover {
  color: #6b35e8;
}

/* .sidebar .closebtn {
  position: relative;
  left: 600px;
  cursor: pointer;
  font-size: 24px;
}
.closebtn {
  top: 0px;
} */

.openbtn {
  z-index: 2;
  top: 30px;
  right: 20px;
  font-size: 36px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: fixed;
  text-align: center;
}

a:nth-child(4) {
  margin-right: 75px;
  /* color: red; */
}

.active {
  border-bottom: 1px solid #3f13a4;
}
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

.bgimg-1,
.bgimg-2 {
  position: relative;
  /* opacity: 0.6; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  z-index: -1;
}
.bgimg-1 {
  background-image: url("https://images.unsplash.com/photo-1582738411706-bfc8e691d1c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80");
  min-height: 100%;
  /* min-width: 250%; */
}

.bgimg-2 {
  background-image: url("https://wallpaperaccess.com/full/2887457.jpg");

  min-height: 200px;
  background-size: 100%;
}

.caption,
h5,
#icons {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  letter-spacing: 3px;
  color: #3f13a4;
  min-width: 350px;
  text-align: center;
}

.caption2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  font-size: 24px;
  letter-spacing: 3px;
  /* background-color: #fafafa; */
  border: 1px solid;
  color: #fafafa;
  text-align: justify;
}

#icons {
  top: 520px;
}
i {
  color: #595959;
}

h1,
.caption {
  min-width: 400px;
  color: #050505;
  font-weight: bold;
}

h5 {
  top: 405px;
  font-size: 32px;
  color: #3f13a4;
  letter-spacing: 0px;
  font-weight: bold;
}

h3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font: 20px;
  color: #3f13a4;
  text-align: center;
}

h2 {
  /* letter-spacing: 1px; */
  font: 20px;
  color: #3f13a4;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}

.About-me-row {
  display: flex;
  margin: 0% 15% 5% 15%;
  align-content: justify;
  gap: 5rem;
  text-align: justify;
}
.column {
  padding: 2%;
}
*/ *,
*:before,
*:after {
  box-sizing: inherit;
}
.card {
  box-shadow: 0 4px 8px 0 hsl(0, 0%, 0%);
  width: 350px;
  height: 400px;
}

#containerParent {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-evenly;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px;
  text-align: center;
}

.container > h2 {
  color: #6b35e8;
}

img {
  max-width: 350px;
  height: 200px;
}

input[type="text"],
textarea,
input[type="tel"],
input[type="email"] {
  /* position: relative; */
  width: 100%;
  max-width: 700px;
  padding: 5px;
  padding-left: 10px;
  box-sizing: border-box;
  resize: vertical;
  margin: auto;
  color: #000000;
  border: none;
  border-left: 2px solid #3f13a4;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  outline: none;
}

input[type="submit"] {
  color: #3f13a4;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: transparent;
  padding: 0;
}

input[type="submit"]:hover {
  color: #050505;
}
/* Add some padding around the form */
#contact {
  padding: 30px;
  max-width: 700px;
  margin: auto;
  z-index: 1;
  color: #595959;
  max-height: 1200px;
  font-size: 1.2rem;
}
/* 
label {
  font-weight: 600;
} */

.my-container {
  padding: 0% 10%;
}
#skills .skill-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  max-width: 1000px;
  margin: auto;
}

#skills .skill-items .skill-item {
  text-align: center;
  padding: 1rem;
}

#skills .skill-items .skill-item img {
  height: 70px;
}

@media (max-width: 768px) {
  #skills .skill-items {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1rem;
  }
}

.cross .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.cross .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.cross .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
